body{
    background-color:mintcream;
}

p{
    text-align: justify;
}

.footer{
    background-color: #2F323A;
    color: #D8DBE2;
    text-align: center;
    height: 60px;
    padding: 15px 0px 0px 0px;
}

.d-block {
    max-height: 700px;
}

.coll_name{
    background-color:lightslategray;
    opacity: 0.7;
}

.coll_name h1{
    border-bottom: 5px solid lightblue;
}